parameters:
    level: 9
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false
